// variabel warna //

// warna layout
$layout-bg-1: rgba(20, 0, 20, 0.6);
$layout-bg-2: rgba(20, 0, 20, 0.7);
$layout-bg-3: rgba(20, 0, 20, 0.8);
$layout-bg-4: rgba(20, 0, 20, 0.9);
$layout-bg-5: rgba(20, 0, 20, 1);

// warna utama website
$pmc-1: rgba(15, 0, 20, 0.6);
$pmc-2: rgba(15, 0, 20, 0.7);
$pmc-3: rgba(15, 0, 20, 0.8);
$pmc-4: rgba(15, 0, 20, 0.9);
$pmc-5: rgba(15, 0, 20, 1);
$pmc-6: rgba(0, 0, 0, 0.8);
$pmc-7: rgba(0, 0, 0, 0.6);
$pmc-8: rgba(0, 0, 0, 0.9);

// warna sekunder website
$skc-1: rgba(255, 255, 255, 0.6);
$skc-2: rgba(255, 255, 255, 0.7);
$skc-3: rgba(255, 255, 255, 0.8);
$skc-4: rgba(255, 255, 255, 0.9);
$skc-5: rgba(255, 255, 255, 1);
$skc-6: #dadada;
$skc-7: #FFF5B7;
$skc-8: #FF0075;
$skc-9: #F98404;
$skc-10: #FC5404;

// warna tombol
