html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.Thisbtn,
.Thisform {
  border: none;
  outline: none;
  background: none;
}

.Thislink {
  text-decoration: none;
  color: #333;
  text-transform: capitalize;
}

.Thislink:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.body-wrapper .login-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.body-wrapper .login-wrapper .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  right: none;
  bottom: 0;
  left: 0;
  width: 40vh;
  z-index: 3;
  background: rgba(15, 0, 20, 0.7);
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
}

.body-wrapper .login-wrapper .login .osis-img {
  height: 20vh;
  width: 20vh;
  margin: 2vh 0;
}

.body-wrapper .login-wrapper .login .osis-img .osis-image {
  width: 100%;
}

.body-wrapper .login-wrapper .login .text-login,
.body-wrapper .login-wrapper .login .text-login-with {
  border-bottom: 2px solid #fff;
  width: 35vh;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.5vh;
}

.body-wrapper .login-wrapper .login .form-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vh;
  margin-bottom: 5vh;
}

.body-wrapper .login-wrapper .login .form-login .name,
.body-wrapper .login-wrapper .login .form-login .email,
.body-wrapper .login-wrapper .login .form-login .code,
.body-wrapper .login-wrapper .login .form-login .pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 1vh 0.4vh 1vh;
  margin: 1vh 0 0 0;
  height: 5vh;
  width: 36vh;
  background: rgba(20, 0, 20, 0.8);
  border-radius: 5vh;
  color: #fff;
}

.body-wrapper .login-wrapper .login .form-login .forget-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: space-between;
          flex-direction: space-between;
  width: 35vh;
  margin-top: 1vh;
}

.body-wrapper .login-wrapper .login .form-login .forget-login .login-btn {
  height: 5vh;
  width: 13vh;
  background: #e02401;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #fff;
  border: none;
  border-radius: 0.5vh;
  margin-right: 1vh;
}

.body-wrapper .login-wrapper .login .form-login .forget-login .forget-link {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.8px;
}

.body-wrapper .login-wrapper .login .login-with {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  width: 35vh;
}

.body-wrapper .login-wrapper .login .login-with .login-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 6vh;
  width: 6vh;
  color: #fff;
  font-size: 3vh;
  margin-bottom: 4vh;
}

.body-wrapper .login-wrapper .login .login-with .google {
  background: #dd4b39;
}

.body-wrapper .login-wrapper .login .login-with .facebook {
  background: #3b5998;
}

.body-wrapper .login-wrapper .login .login-with .instagram {
  background: #e95950;
}

.body-wrapper .login-wrapper .login .login-with .linkedin {
  background: #007bb5;
}

.body-wrapper .login-wrapper .login .login-with .github {
  background: #000;
}

.body-wrapper .login-wrapper .login .register-link {
  color: #e02401;
  border-bottom: 2px solid #e02401;
  letter-spacing: 0.8px;
}

.body-wrapper .login-wrapper .login .bottom-information {
  position: absolute;
  top: none;
  right: none;
  bottom: 0;
  left: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vh;
  padding: 1vh;
}

.body-wrapper .login-wrapper .login .bottom-information .social-media-icon .sosmed-icon {
  color: #fff;
}

.body-wrapper .login-wrapper .login .bottom-information .hakcipta {
  letter-spacing: 1.5px;
  color: #fff;
}

.body-wrapper .login-wrapper .login .bottom-information .version {
  color: #fff;
}

.body-wrapper .login-wrapper .school-information {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eadeb8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-wrapper .login-wrapper .school-information .information .bg-image .bg-soe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.body-wrapper .register-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.body-wrapper .register-wrapper .register-list {
  position: fixed;
  top: 0;
  right: none;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
  width: 40vh;
  padding-top: 5vh;
  background: rgba(15, 0, 20, 0.7);
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
}

.body-wrapper .register-wrapper .register-list .osis-img {
  height: 20vh;
  width: 20vh;
}

.body-wrapper .register-wrapper .register-list .osis-img .osis-image {
  width: 100%;
}

.body-wrapper .register-wrapper .register-list .text-register,
.body-wrapper .register-wrapper .register-list .text-register-with {
  border-bottom: 2px solid #fff;
  width: 35vh;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.5vh;
}

.body-wrapper .register-wrapper .register-list .list-create-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-wrapper .register-wrapper .register-list .list-create-account .register-list-form-1 {
  height: 6vh;
  width: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  border-left: 3px solid #96C7C1;
  padding-left: 2.5vh;
}

.body-wrapper .register-wrapper .register-list .list-create-account .register-list-form {
  height: 6vh;
  width: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 2.5vh;
}

.body-wrapper .register-wrapper .register-list .register-btn {
  color: #dd4b39;
  margin: 2vh 0;
}

.body-wrapper .register-wrapper .register-list .register-with {
  height: auto;
  width: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body-wrapper .register-wrapper .register-list .register-with .register-with-icon {
  height: 6vh;
  width: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  font-size: 3vh;
  margin-bottom: 4vh;
}

.body-wrapper .register-wrapper .register-list .register-with .google {
  background: #dd4b39;
}

.body-wrapper .register-wrapper .register-list .register-with .facebook {
  background: #3b5998;
}

.body-wrapper .register-wrapper .register-list .register-with .instagram {
  background: #e95950;
}

.body-wrapper .register-wrapper .register-list .register-with .linkedin {
  background: #007bb5;
}

.body-wrapper .register-wrapper .register-list .register-with .github {
  background: #000;
}

.body-wrapper .register-wrapper .register-list .bottom-information {
  position: absolute;
  top: none;
  right: none;
  bottom: 0;
  left: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vh;
  padding: 1vh;
}

.body-wrapper .register-wrapper .register-list .bottom-information .social-media-icon .sosmed-icon {
  color: #fff;
}

.body-wrapper .register-wrapper .register-list .bottom-information .hakcipta {
  letter-spacing: 1.5px;
  color: #fff;
}

.body-wrapper .register-wrapper .register-list .bottom-information .version {
  color: #fff;
}

.body-wrapper .register-wrapper .register-form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF3E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-wrapper .register-wrapper .register-form .information .bg-image .bg-soe {
  position: absolute 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.body-wrapper .register-wrapper .register-form .form-register-bio {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: none;
  z-index: 2;
  width: 152vh;
  padding: 5vh;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5vh;
  height: 90vh;
  background: rgba(20, 0, 20, 0.6);
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .left-bio,
.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 1vh;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .left-bio .text-data,
.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .text-data {
  border-bottom: 2px solid #fff;
  width: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2vh;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .left-bio .form-bio,
.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .form-bio {
  background: rgba(15, 0, 20, 0.6);
  color: rgba(255, 255, 255, 0.8);
  height: 6vh;
  border-radius: 6vh;
  margin-bottom: .5vh;
  padding-left: 2vh;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .left-bio .lesson-wrapper {
  height: 20vh;
  width: 139vh;
  border-radius: 5px;
  padding: 0.8vh;
  background: rgba(15, 0, 20, 0.6);
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .left-bio .lesson-wrapper .lesson-tag-input {
  width: 137.5vh;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .next-btn {
  height: 6vh;
  width: 18vh;
  background: #e02401;
  border: none;
  outline: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: #fff;
  border-radius: 0.8vh;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .btn-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: none;
  right: none;
  bottom: 5vh;
  left: none;
  height: 10vh;
  width: 28vh;
  margin-top: 3vh;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .btn-reg .next-page {
  color: #FF5151;
  font-weight: 600;
  letter-spacing: 1px;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .document-preview {
  height: 27vh;
  width: 139vh;
  position: relative;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .document-preview .document-view {
  height: 27vh;
  width: 50vh;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1vh;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .document-preview .document {
  display: none;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .document-preview .document1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: .5px dotted #fff;
  background: rgba(14, 0, 20, 0.6);
  width: 88vh;
  border-radius: 2px;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .document-preview .document1 .upload-text {
  height: 8vh;
  width: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #e02401;
  border-radius: 5px;
  margin-bottom: -0.2vh;
  margin-top: 1vh;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .document-preview .document1 .dd-text {
  font-weight: 200;
  text-transform: capitalize;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .wishlist {
  background: rgba(14, 0, 20, 0.6);
  padding: 0.8vh;
  border-radius: 5px;
  resize: none;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  outline: none;
  height: 20vh;
  margin-bottom: .5vh;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .plan-wrapper {
  height: 20vh;
  width: 139vh;
  border-radius: 5px;
  padding: 0.8vh;
  background: rgba(15, 0, 20, 0.6);
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .plan-wrapper .plan {
  width: 137.5vh;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .right-security-bio {
  height: 47vh;
  width: 139vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .right-security-bio .face-scan {
  height: 47vh;
  width: 47vh;
  background: rgba(15, 0, 20, 0.6);
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .right-bio .right-security-bio .key-words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vh;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .sk-bio {
  height: 75vh;
  width: 139vh;
  background: rgba(15, 0, 20, 0.6);
  color: rgba(255, 255, 255, 0.6);
  overflow: auto;
  padding: 0.8vh;
  border-radius: 5px;
  margin-bottom: 0.8vh;
}

.body-wrapper .register-wrapper .register-form .form-register-bio .form-register-ubio .agree-sk a {
  color: #00A19D;
}

.body-wrapper .Navmenu {
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.body-wrapper .Navmenu .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-wrapper .Navmenu .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-wrapper .Navmenu .nav-right .btn-page {
  height: 5vh;
  width: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.5vh;
}

.body-wrapper .Navmenu .nav-right .user-img {
  background: #ebebeb;
  border-radius: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5vh;
  width: 5vh;
}

.body-wrapper .user-page {
  height: auto;
  width: auto;
  position: relative;
  background: #ebebeb;
}

.body-wrapper .user-page .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65vw;
  padding-top: 7.2vh;
}

.body-wrapper .user-page .user .user-info {
  height: auto;
  width: 64vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.2vh;
  background: #fff;
  padding: .8vh;
  border-radius: .8vh;
  margin-bottom: 1.2vh;
}

.body-wrapper .user-page .user .user-info .user-bg {
  width: 100%;
  height: 40vh;
  background: #dadada;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: .8vh;
}

.body-wrapper .user-page .user .user-info .user-bg .bg-user-img {
  width: 100%;
}

.body-wrapper .user-page .user .user-info .user-info-content {
  width: 64vw;
  height: 14vh;
  position: relative;
  margin-bottom: 1.2vh;
}

.body-wrapper .user-page .user .user-info .user-info-content .user-info-image {
  background: #eee;
  position: absolute;
  top: -12.5vh;
  left: 3vh;
  height: 25vh;
  width: 25vh;
  border-radius: 30vh;
}

.body-wrapper .user-page .user .user-info .user-info-content .user-status {
  background: #dadada;
  height: 5vh;
  width: 5vh;
  position: absolute;
  left: 3vh;
  top: 7vh;
  border-radius: 5vh;
}

.body-wrapper .user-page .user .user-info .user-info-content .edit-profile {
  position: absolute;
  bottom: -1vh;
  right: 2vh;
  z-index: 2;
}

.body-wrapper .user-page .user .user-info .user-info-content .user-information {
  position: absolute;
  right: 1.6vh;
  top: 1vh;
  height: 14vh;
  width: 48vw;
}

.body-wrapper .user-page .user .user-info .user-info-content .user-information .l-name {
  font-size: 1.5em;
}

.body-wrapper .user-page .user .user-info .user-info-content .user-information .u-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  font-size: 2.3vh;
}

.body-wrapper .user-page .user .user-info .user-info-content .user-information .u-label .label-item {
  height: 4vh;
  width: auto;
  border-radius: 4vh;
  border: 1px solid #333;
  padding: 0 1vh;
}

.body-wrapper .user-page .user .user-info .user-info-content .user-information .u-label .school {
  margin-right: 1vh;
}

.body-wrapper .user-page .user .user-info .user-info-content .user-information .u-label .ambition {
  margin-right: 1vh;
}

.body-wrapper .user-page .user .user-info .user-info-content .user-information .u-sosmed {
  position: absolute;
  right: .6vh;
  top: -5.5vh;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-wrapper .user-page .user .user-info .user-info-content .user-information .u-sosmed .usosmed-link {
  color: #fff;
  margin-left: 0.5vh;
  height: 3vh;
  width: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-wrapper .user-page .user .add-post {
  background: #fff;
  width: 64vw;
  height: auto;
  border-radius: .8vh;
  margin-bottom: 1.2vh;
  padding: 0.8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-wrapper .user-page .user .add-post .post-input {
  height: 20vh;
  width: 63.2vw;
  background: #efefef;
  border-radius: .8vh;
  border: none;
  resize: none;
}

.body-wrapper .user-page .user .add-post .post-tag {
  height: auto;
  padding-top: 0.8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-wrapper .user-page .user .add-post .post-tag .tag {
  border: 1px solid #333;
  height: 6vh;
  width: 30vw;
}

.body-wrapper .user-page .user .post {
  background: #fff;
  width: 64vw;
  height: 60vh;
  margin-bottom: 1.2vh;
}

.body-wrapper .user-page .user-dashboard {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 33.5vw;
  padding-top: 7.2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-wrapper .user-page .user-dashboard .clock {
  background: #fff;
  width: 33vw;
  height: 22vh;
  margin-bottom: 1.2vh;
}

.body-wrapper .user-page .user-dashboard .number-ofpost {
  width: 33vw;
  height: 16.8vh;
  margin-bottom: 1.2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-wrapper .user-page .user-dashboard .number-ofpost .image,
.body-wrapper .user-page .user-dashboard .number-ofpost .post,
.body-wrapper .user-page .user-dashboard .number-ofpost .storage {
  background: #fff;
  width: 10.6vw;
  height: 16.8vh;
}

.body-wrapper .user-page .achievement {
  background: #fff;
  width: 33vw;
  height: 30vh;
  margin-bottom: 1.2vh;
}

.body-wrapper .user-page .featured-post {
  background: #fff;
  width: 33vw;
  height: 20vh;
  margin-bottom: 1.2vh;
}
/*# sourceMappingURL=Main.css.map */