// variabel
$layout-bg-1: rgba(14, 0, 20, 0.6);
$layout-bg-2: rgba(14, 0, 20, 0.6);
$layout-bg-3: rgba(14, 0, 20, 0.6);
$layout-bg-4: rgba(14, 0, 20, 0.6);
$layout-bg-5: rgba(14, 0, 20, 0.6);
$pmc-1: rgba(14, 0, 20, 0.6);
$pmc-2: rgba(14, 0, 20, 0.6);
$pmc-3: rgba(14, 0, 20, 0.6);
$pmc-4: rgba(14, 0, 20, 0.6);
$pmc-5: rgba(14, 0, 20, 0.6);
$skc-1: rgba(14, 0, 20, 0.6);
$skc-2: rgba(14, 0, 20, 0.6);
$skc-3: rgba(14, 0, 20, 0.6);
$skc-4: rgba(14, 0, 20, 0.6);
$skc-5: rgba(14, 0, 20, 0.6);
$gr-bg-1: rgba(14, 0, 20, 0.6);
$gr-bg-2: rgba(14, 0, 20, 0.6);
$gr-bg-3: rgba(14, 0, 20, 0.6);
$gr-bg-4: rgba(14, 0, 20, 0.6);
$gr-bg-5: rgba(14, 0, 20, 0.6);


// css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0; 
    -ms-interpolation-mode: bicubic; 
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; 
    padding: 0;
    white-space: normal; 
    *margin-left: -7px; 
}

button,
input,
select,
textarea {
    font-size: 100%; 
    margin: 0; 
    vertical-align: baseline; 
    *vertical-align: middle; 
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
    *overflow: visible;  
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
    *height: 13px; 
    *width: 13px; 
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; 
    vertical-align: top; 
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.Thisform {
    border: none;
    outline: none;
    background: none;
  }
  
.Thislink {
    text-decoration: none;
    color: #333;
    text-transform: capitalize;
}

.Thislink:hover {
    filter: brightness(80%);
    transition: 0.5s;
}


// navigation menu
.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 7vh;
    right: 0;
    height: 6vh;
    background: linear-gradient(150deg,
    rgba(232, 23, 132, 0.9) 5%,
    rgba(104, 6, 171, 0.9) 53%,
    rgba(55, 0, 93, 0.9) 95%);
    padding: 0 0.2vh 0.2vh 1vh;

    .side-left-navigation {
        display: flex;
        align-items: center;

        .search-form {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50vh;
            height: 5vh;
            background: rgba(14, 0, 20, 0.7);
            border-radius: 6vh;
            margin-right: 0.3vh;
            padding: 0.5vh 0.5vh 0.5vh 1.5vh;

            .search-input {
                width: 43vh;
                height: 5vh;
                padding-bottom: 0.5vh;
                color: #fff;
            }

            .search-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                height: 4.2vh;
                width: 4.2vh;
                background: rgba(20, 0, 20, 0.8);
                color: rgba(255, 255, 255, 0.8);
            }
        }

        .access-button {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(255, 255, 255, 0.8);
            background: rgba(14, 0, 20, 0.6);
            height: 5vh;
            width: 5vh;
            font-size: 2vh;
            overflow: hidden;
            margin: 0 0.2vh;
        }
    }

    .side-right-navigation {
        display: flex;
        align-items: center;

        .post-menu {
            position: relative;

            .post-menu-left {
                position: absolute;
                left: 0.5vh;
            }

            .post-menu-right {
                position: absolute;
                right: 0.5vh;
            }
        }

        .add-post,
        .post-menu,
        .account {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(255, 255, 255, 0.8);
            background: rgba(14, 0, 20, 0.6);
            height: 5vh;
            width: 5vh;
            font-size: 2vh;
            overflow: hidden;
            margin: 0 0.2vh;
        }

        .account {

            .user-img {
                width: 100%;
            }
        }
    }
}


// aside slide
.aside-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7vh;
    z-index: 8;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 1vh 0;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.4);
    background: linear-gradient(150deg,
        rgba(232, 23, 132, 0.8),
        rgba(104, 6, 171, 0.8)
    );

    .aside-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 6vh;
        margin-bottom: 0.5vh;
        padding-bottom: 0.5vh;
        border-bottom: 1.5px solid rgba(255, 255, 255, 0.6);
    
        .aside-list-menu {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(255, 255, 255, 0.8);
            background: rgba(14, 0, 20, 0.6);
            height: 5vh;
            width: 5vh;
            font-size: 2.1vh;
            overflow: hidden;
            margin: 0 0.2vh;
            border-radius: 50%;
            margin: 0.5vh 0;
        }
    }

    .aside-menu:nth-last-child(1) {
        border: none;
    }
}


// main content
.main-content {
    position: absolute;
    top: 6vh;
    left: 7vh;
    right: 0;
    height: auto;
    padding: 0.8vh;
    padding-bottom: 0;
}

// page version
.web-version {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D4ECDD;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .web-content {
        height: 80vh;
        width: 160vh;
        position: relative;
        background: #FEFBF3;
        border: .2px solid #eee;
        overflow: auto;

        .nav-version {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 6vh;
            background: #00A19D;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .5vh;

            .back-to-page {
                height: 5vh;
                width: 5vh;
                color: rgba(255, 255, 255, 0.8);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .5s;
            }

            .back-to-page:hover {
                background: rgba(20, 0, 20, 0.5);
            }

            .page-menu {
                display: flex;

                .list-page {
                    height: 6vh;
                    width: auto;
                    margin-left: 0.2vh;
                    padding: 0 .8vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: rgba(255, 255, 255, 0.8);
                    transition: .5s;
                }

                .list-page:hover {
                    background: rgba(20, 0, 20, 0.5);
                }
            }
        }

        .version-content {
            position: absolute;
            left: 0;
            right: 0;
            top: 6vh;
            height: auto;

            .logo-osis {
                height: 20vh;
                width: 150;
                margin-top: 2vh;
                display: flex;
                justify-content: center;

                .osis-logo {
                    height: 100%;
                  }
            }

            .information-page {
                margin-top: 2vh;
                height: auto;
                width: auto;
                padding: 1vh;
            }
        }
    }
}


// login wrapper
.login-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vh;
        z-index: 3;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background: rgba(14, 0, 20, 0.7);
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);

        .osis-img {
            height: 20vh;
            width: 20vh;
            margin: 2vh 0;

            .osis-image {
                width: 100%;
            }
        }

        .text-login,
        .text-login-with {
            border-bottom: 2px solid #fff;
            width: 35vh;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 1.5vh;
        }
          
        .form-login {
            width: 40vh;
            margin-bottom: 5vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            .name,
            .email,
            .code,
            .pass {
                background: rgba(20, 0, 20, 0.8);
                border-radius: 5vh;
                padding: 0 1vh 0.4vh 1vh;
                margin-top: 1vh;
                display: flex;
                align-items: center;
                width: 36vh;
                height: 5vh;
                color: #fff;
            }

            .forget-login {
                width: 35vh;
                margin-top: 1vh;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .login-btn {
                    background: #e02401;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    color: #fff;
                    border: none;
                    height: 5vh;
                    width: 13vh;
                    border-radius: 0.5vh;
                }

                .forget-link {
                    color: rgba(255, 255, 255, 0.6);
                    letter-spacing: 0.8px;
                  }
            }
        }

        .login-with {
            display: flex;
            justify-content: space-between;
            align-items: start;
            width: 35vh;
            height: auto;

            .login-with-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 6vh;
                width: 6vh;
                color: #fff;
                font-size: 3vh;
                margin-bottom: 4vh;
            }

            .google {
                background: #dd4b39;
            }

            .facebook {
                background: #3b5998;
            }

            .instagram {
                background: #e95950;
            }

            .linkedin {
                background: #007bb5;
            }

            .github {
                background: #000;
            }
        }

        .register-link {
            color: #e02401;
            border-bottom: 2px solid #e02401;
            letter-spacing: 0.8px;
        }

        .bottom-information {
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40vh;
            padding: 1vh;

            .social-media-icon .sosmed-icon {
                color: #fff;
            }

            .hakcipta {
                letter-spacing: 1.5px;
                color: #fff;
            }

            .version {
                color: #fff;
            }
        }
    }

    .school-information {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: #eadeb8;
        display: flex;

        .logo {
            position: fixed;
            top: 1vh;
            left: 41vh;
            display: flex;
            height: 8vh;
            width: 8vh;
            z-index: 2;

            .logo-img {
                width: 100%;
            }

            .text-logo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #fff;
                margin-left: 1vh;

                .name-img {
                    height: 5vh;
                    width: 120vh;
                    font-weight: 600;
                    font-size: 3vh;
                    position: fixed;
                    left: 50vh;
                    top: 1.5vh;
                }

                .name-school {
                    height: 2vh;
                    width: 50vh;
                    font-weight: 200;
                    margin-top: -2vh;
                    font-size: 2.5vh;
                    position: fixed;
                    left: 50vh;
                    top: 6.8vh;
                  }
            }
        }

        .slider-information-wrapper {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0.8vh;
            z-index: 2;
            display: flex;
            align-items: center;

            .slider-image-information {
                background: rgba(14, 0, 20, 0.7);
                height: 40vh;
                width: 5.2vh;
                padding: 5.5vh 0;
                border-radius: 7vh;
                position: relative;

                .slide-top-btn {
                    position: absolute;
                    border: none;
                    background: rgba(0, 0, 0, 0.6);
                    color: rgba(255, 255, 255, 0.6);
                    height: 4vh;
                    width: 4vh;
                    top: 0.6vh;
                    right: 0.6vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 2;
                }

                .slide-down-btn {
                    position: absolute;
                    border: none;
                    background: rgba(0, 0, 0, 0.6);
                    color: rgba(255, 255, 255, 0.6);
                    height: 4vh;
                    width: 4vh;
                    bottom: 0.6vh;
                    right: 0.6vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 2;
                }

                .slider-btn-manual {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .check-sekom {
                        display: none;
                    }

                    .sekom {
                        border: 1px solid rgba(255, 255, 255, 0.4);
                        display: flex;
                        margin-bottom: 1.2vh;
                        height: 1.3vh;
                        width: 1.3vh;
                        border-radius: 50%;
                    }
                }
            }
        }

        .information {

            .bg-image {

                .bg-soe {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 1;
                }
            }
        }

        .text-information {
            position: fixed;
            z-index: 3;
            left: 40.8vh;
            bottom: 0.8vh;
            display: flex;
            flex-direction: column;
            color: rgba(255, 255, 255, 0.8);
            width: 70vh;
            filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));

            .title-information {
                font-size: 5vh;
                text-transform: capitalize;
            }

            .main-information-excul {
                font-size: 2vh;
            }
        }
    }
}


// register wrapper 
.register-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .register-list {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 40vh;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5vh;
        justify-content: start;
        background: rgba(14, 0, 20, 0.7);
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);

        .osis-img {
            height: 20vh;
            width: 20vh;

            .osis-image {
                width: 100%;
            }
        }

        .text-register,
        .text-register-with {
            border-bottom: 2px solid #fff;
            width: 35vh;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 1.5vh;
        }

        .list-create-account {
            display: flex;
            flex-direction: column;

            .register-list-form-1 {
                color: rgb(255, 255, 255);
                border-left: 3px solid #96C7C1;
                width: 40vh;
                height: 6vh;
                display: flex;
                align-items: center;
                justify-content: start;
                padding-left: 2.5vh;
            }

            .register-list-form {
                color: rgba(255, 255, 255, 0.5);
                width: 40vh;
                height: 6vh;
                display: flex;
                align-items: center;
                justify-content: start;
                padding-left: 2.5vh;
            }
        }

        .register-btn {
            color: #dd4b39;
            margin: 2vh 0;
        }

        .register-with {
            width: 35vh;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: start;

            .register-with-icon {
                height: 6vh;
                width: 6vh;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3vh;
                margin-bottom: 4vh;
            }

            .google {
                background: #dd4b39;
            }             
            
            .facebook {
                background: #3b5998;
            }

            .instagram {
                background: #e95950;
            }

            .linkedin {
                background: #007bb5;
            }

            .github {
                background: #000;
            }
        }

        .bottom-information {
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40vh;
            padding: 1vh;

            .social-media-icon {

                .sosmed-icon {
                    color: #fff;
                }
            }

            .hakcipta {
                letter-spacing: 1.5px;
                color: #fff;
            }

            .version {
            color: #fff;
            } 
        }
    }

    .register-form {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: #FFF3E4;
        display: flex;

        .information {

            .bg-image {

                .bg-soe {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 1;
                }
            }
        }

        .form-register-bio {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 2;
            width: 152vh;
            padding: 5vh;

            .form-register-ubio {
                display: flex;
                flex-direction: column;
                padding: 1.5vh;
                height: 90vh;
                background: rgba(20, 0, 20, .6);

                .left-bio,
                .right-bio {
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    color:rgba(255, 255, 255, 0.9);
                    margin-bottom: 1vh;

                    .text-data {
                        border-bottom: 2px solid #fff;
                        width: 50vh;
                        display: flex;
                        color: #fff;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        margin-bottom: 2vh;
                    }

                    .form-bio {
                        background: rgba(14, 0, 20, 0.6);
                        color: rgba(255, 255, 255, 0.8);
                        height: 6vh;
                        border-radius: 6vh;
                        margin-bottom: .5vh;
                        padding-left: 2vh;
                    }
                }

                .left-bio {

                    .lesson-wrapper {
                        height: 20vh;
                        width: 139vh;
                        border-radius: 5px;
                        padding: 0.8vh;
                        background: rgba(14, 0, 20, 0.6);

                        .lesson-tag-input {
                            width: 137.5vh;
                        }
                    }
                }

                .right-bio {

                    .next-btn {
                        width: 18vh;
                        height: 6vh;
                        background: #e02401;
                        border: none;
                        outline: none;
                        text-transform: capitalize;
                        letter-spacing: 2px;
                        color: #fff;
                        border-radius: 0.8vh;
                    }

                    .btn-reg {
                        margin-top: 3vh;
                        display: flex;
                        height: 10vh;
                        width: 28vh;
                        justify-content: space-between;
                        align-items: center;
                        position: absolute;
                        bottom: 5vh;

                        .next-page {
                            color: #FF5151;
                            font-weight: 600;
                            letter-spacing: 1px;
                        }
                    }

                    .document-preview {
                        width: 139vh;
                        height: 27vh;
                        position: relative;

                        .document-view {
                            width: 50vh;
                            height: 27vh;
                            background: rgba(255, 255, 255, 0.6);
                            border-radius: 1vh;
                        }

                        .document {
                            display: none;
                        }

                        .document1 {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border: .5px dotted #fff;
                            background: rgba(14, 0, 20, 0.6);
                            width: 88vh;
                            border-radius: 2px;

                            .upload-text {
                                background: #e02401;
                                border-radius: 5px;
                                height: 8vh;
                                width: 20vh;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: -0.2vh;
                                margin-top: 1vh;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                            }

                            .dd-text {
                                font-weight: 200;
                                text-transform: capitalize;
                            }
                        }
                    }

                    .wishlist {
                        background: rgba(14, 0, 20, 0.6);
                        padding: 0.8vh;
                        border-radius: 5px;
                        resize: none;
                        color: rgba(255, 255, 255, 0.9);
                        border: none;
                        outline: none;
                        height: 20vh;
                        margin-bottom: .5vh;
                    }

                    .plan-wrapper {
                        height: 20vh;
                        width: 139vh;
                        border-radius: 5px;
                        padding: 0.8vh;
                        background: rgba(14, 0, 20, 0.6);

                        .plan {
                            width: 137.5vh;
                        }
                    }

                    .right-security-bio {
                        width: 139vh;
                        height: 47vh;
                        display: flex;
                        align-items: center;
                        justify-content: space-between; 

                        .face-scan {
                            height: 47vh;
                            width: 47vh;
                            background: rgba(14, 0, 20, 0.6);
                        }
                          
                        .key-words {
                            display: flex;
                            flex-direction: column;
                            width: 90vh;
                        }
                    }
                }

                .sk-bio {
                    background: rgba(14, 0, 20, 0.6);
                    width: 139vh;
                    height:75vh;
                    color: rgba(255, 255, 255, 0.5);
                    overflow: auto;
                    padding: 0.8vh;
                    border-radius: 5px;
                    margin-bottom: 0.8vh;
                }

                .agree-sk {

                    a {
                        color: #00A19D;
                    }
                }
            }
        }
    }
}


// home 
.main-content {

    .left-content {
        height: auto;
        width: 131.5vh;

        .status-friends {
            height: 8vh;
            width: 131vh;
            position: relative;
            overflow: hidden;
            padding: 0.5vh;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .s-friend-left {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
                height: 8vh;
                width: 8vh;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ff8243;
                background: #fff;
            }
            
            .s-friend-right {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
                height: 8vh;
                width: 8vh;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ff8243;
                background: #fff;
            }
            
            .status-friend-content {
                width: auto;
                height: 8vh;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 8vh;
                display: flex;
                align-items: center;
                
                .status-wrapper {
                    height: 8vh;
                    width: 8vh;
                    margin-right: .85vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgb(232, 23, 132);
                    background: linear-gradient(150deg,
                    rgba(232, 23, 132, 0.9) 5%,
                    rgba(104, 6, 171, 0.9) 53%,
                    rgba(55, 0, 93, 0.9) 95%
                    );
                    
                    .friend-img {
                        background: rgba(255, 255, 255, 0.8);
                        height: 7.2vh;
                        width: 7.2vh;
                        overflow: hidden;
                        
                        .user-status-img {
                            width: 100%;
                        }
                    }
                }
            }
        }
                
        .main-information-content {
            height: 70vh;
            width: 131vh;
            margin-top: .8vh;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            filter: brightness(60%);
            background: rgba(220, 220, 220, 0.6);

            .school-content-information {
                width: 100%;
            }
        }

        .skill-test {
            background: rgba(20, 0, 20, .9);
            height: 16vh;
            width: 131vh;
            position: relative;
            color: rgba(255, 255, 255, 0.8);
            margin-top: 0.5vh;

            .head-nav {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                border-bottom: 2px solid #ff8243;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 .8vh;
                height: 6vh;

                .view-menu {
                    display: flex;
                    align-items: center;

                    .view-1, 
                    .view-2, 
                    .view-3 {
                        height: 4vh;
                        width: 4vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        margin-left: 0.5vh;

                        a {
                            color: rgba(255, 255, 255, 0.8);
                        }
                    }

                    .view-2 {
                        flex-direction: column;
                        position: relative;

                        .linkmenu1 {
                            position: absolute;
                            top: .5vh;
                        }

                        .linkmenu2 {
                            position: absolute;
                            bottom: .7vh;
                        }
                    }

                    .view-3 { 
                        flex-direction: column;
                        position: relative;

                        .linkmenu1 {
                            position: absolute;
                            top: -.8vh;
                        }

                        .linkmenu2 {
                            position: absolute;
                            bottom: -.7vh;
                        }
                    }
                }
            }

            .skill-test-content {
                height: 9vh;
                width: 131vh;
                position: absolute;
                bottom: 0.5vh;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 0 0.5vh;

                .skill-content {
                    height: 8vh;
                    width: 8vh;
                    background: rgba(20, 0, 20, 0.8);
                }
            }
        }

        .books {
            background: rgba(20, 0, 20, .9);
            height: 38vh;
            width: 131vh;
            margin-top: .5vh;
            position: relative;
            color: rgba(255, 255, 255, 0.8);

            .head-nav {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                border-bottom: 2px solid #ff8243;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 .8vh;
                height: 6vh;

                .view-menu {
                    display: flex;
                    align-items: center;

                    .view-1, 
                    .view-2, 
                    .view-3 {
                        height: 4vh;
                        width: 4vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        margin-left: 0.5vh;

                        a {
                            color: rgba(255, 255, 255, 0.8);
                        }
                    }

                    .view-2 {
                        flex-direction: column;
                        position: relative;

                        .linkmenu1 {
                            position: absolute;
                            top: .5vh;
                        }

                        .linkmenu2 {
                            position: absolute;
                            bottom: .7vh;
                        }
                    }

                    .view-3 { 
                        flex-direction: column;
                        position: relative;

                        .linkmenu1 {
                            position: absolute;
                            top: -.7vh;
                        }

                        .linkmenu2 {
                            position: absolute;
                            bottom: -.7vh;
                        }
                    }
                }
            }
        }

        .post-friend {
            height: 65vh;
            width: 131vh;
            margin-top: 0.5vh;
            background: rgba(240, 240, 240, 0.9);
            display: flex;
            justify-content: space-between;

            .post-friend-image {
                height: 65vh;
                width: 65vh;
                background: rgba(200, 200, 200, .8);
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                .post-fimg {
                    width: 100%;
                }
            }

            .post-friend-information {
                height: 65vh;
                width: 66vh;
                position: relative;
                display: flex;
                flex-direction: column;
                padding: 0.5vh;

                .user-info {
                    height: 10vh;
                    width: 65vh;
                    margin-bottom: 0.5vh;
                    position: relative;
                    display: flex;
                    align-items: center;

                    .user-info-img {
                        height: 9vh;
                        width: 9vh;
                        margin-right: 1vh;
                        overflow: hidden;

                        .user-post-info-img {
                            width: 100%;
                        }
                    }

                    .user-info-title {
                        display: flex;
                        flex-direction: column;
                    }

                    .post-menu {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }

                .user-desc {
                    width: 65vh;
                    height: 35vh;
                    margin-bottom: 0.5vh;
                    background: rgba(220, 220, 220, 0.4);
                    padding: 0.5vh;
                    position: relative;

                    .more-desc {
                        position: absolute;
                        bottom: 0.5vh;
                        left: 0.5vh;
                    }
                }

                .comment {
                    width: 65vh;
                    height: 18vh;
                    border: 1px solid #ff0000;
                }
            }
        }
    }

    .right-content {
        position: fixed;
        width: 50.5vh;
        top: 6vh;
        right: 0;
        bottom: 0;
        padding: 0.5vh;

        .clock-wrapper {
            background: rgba(20, 0, 20, 0.8);
            color: #ff8243;
            padding: 0.5vh;
            position: relative;

            .clock-content {
                display: flex;
                justify-content: space-between;

                .clock {
                    background: rgba(20, 0, 20, 0.5);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 10vh;
                    width: 35vh;
                    padding-top: 1vh;
                    font-size: 4vh;
                    letter-spacing: 2px;

                    .date {
                        font-size: 2vh;
                        margin-top: -1vh;
                    }
                }

                .weather-wrapper {
                    background: rgba(20, 0, 20, 0.5);
                    height: 14.5vh;
                    width: 12.4vh;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    position: relative;

                    .weather {
                        position: absolute;
                        top: 1vh;
                        font-size: 5vh;
                    }

                    .temperature {
                        position: absolute;
                        bottom: 0.8vh;
                    }
                }
            }

            .clock-we {
                color: rgba(255, 255, 255, 0.8);
                position: absolute;
                left: 0.5vh;
                bottom: 0.5vh;
                height: 4vh;
                width: 4vh;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.5s;
                background: rgba(20, 0, 20, 0.5);
            }

            .clock-we:hover {
                transform: rotate(90deg);
            }

            .location-we {
                color: rgba(255, 255, 255, 0.8);
                position: absolute;
                left: 5vh;
                bottom: 0.5vh;
                height: 4vh;
                width: 30.5vh;
                border-radius: 5vh;
                padding: 0 1vh 0 0.5vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(20, 0, 20, 0.5);
            }
        }
    }
} 


// main post content
.main-content {

    .top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5vh;

        .landscape-content {
            background: rgba(220, 220, 220, 0.5);
            height: 70vh;
            width: 120vh;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            .post-image {
                width: 100%;
                height: 100%;
            }
        }

        .article-content {
            background: rgba(220, 220, 220, 0.5);
            height: 70vh;
            width: 60vh;
        }
    }

    .down-content {
        height: auto;
        width: 180.8vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .potrait-wrapper {
            height: auto;
            width: 90.1vh;
            margin-bottom: 0.3vh;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left-wrapper-content {

                .left-potrait {
                    background: rgba(220, 220, 220, 0.5);
                    width: 44.7vh;
                    height: 70vh;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .post-image {
                        height: 100%;
                    }
                }

                .mini-content-1 {
                    height: 44.7vh;
                    width: 44.7vh;
                    background: rgba(220, 220, 220, 0.5);
                    border-top: 5px solid #fff;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .post-image {
                        width: 100%;
                    }
                }
            }

            .right-wrapper-content {

                .right-potrait {
                    background: rgba(220, 220, 220, 0.5);
                    width: 44.7vh;
                    height: 70vh;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .post-image {
                        height: 100%;
                    }
                }

                .mini-content-2 {
                    height: 44.7vh;
                    width: 44.7vh;
                    background: rgba(220, 220, 220, 0.5);
                    border-bottom: 5px solid #fff;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center; 

                    .post-image {
                        width: 100%;
                    }
                }
            }
        }
    }
}

// user main content
.main-content {

    .user-bg {
        background: rgba(220, 220, 220, 0.5);
        height: 50vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0 0 6px 1px #ddd;

        .code-id {
            position: absolute;
            left: 37vh;
            top: 44.2vh;
            z-index: 1;
            background: rgba(14, 0, 20, 0.6);
            color: rgba(220, 220, 220, 0.8);
            height: auto;
            width: auto;
            padding: 5px;
        }

        .social-media {
            position: absolute;
            right: .6vh;
            top: 44.2vh;
            z-index: 1;
            background: rgba(14, 0, 20, 0.6);
            color: rgba(220, 220, 220, 0.8);
            height: auto;
            width: auto;
            padding: 5px;
        }

        .user-bg-image {
            height: 50vh;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            filter: brightness(60%);

            .bg-image {
                width: 100%;
            }
        }
    }

    .user-content-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 50vh;

        .left-user-content {

            .dashboard-user-wrapper {
                height: auto;
                width: 130vh;

                .user-profile {
                    height: 28vh;
                    width: 130vh;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .user-image {
                        background: rgba(220, 220, 220, 0.8);
                        height: 35vh;
                        width: 35vh;
                        position: absolute;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: -8vh;

                        .user-img {
                            width: 100%;
                        }
                    }

                    .change-img {

                        .input-img {
                            display: none;
                        }

                        label {
                            position: absolute;
                            top: 23vh;
                            left: 29vh;
                            height: 4vh;
                            width: 4vh;
                            background: rgba(20, 0, 20, 0.8);
                            color: rgba(220, 220, 220, 0.8);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    
                    .user-dashboard {
                        height: 28vh;
                        width: 94vh;
                        position: relative;

                        .u-set {
                            position: absolute;
                            top: 0.5vh;
                            right: 0.5vh;
                        }

                        .user-dashboard-information {
                            display: flex;
                            flex-direction: column;

                            .u-name {
                                text-decoration: none;
                                color: rgba(232, 23, 132, 0.8);
                            }

                            .bio-detail {
                                color: rgba(232, 23, 132, 0.8);
                                text-decoration: none;
                            }

                            .u-bio {
                                display: flex;
                                font-weight: 200;
                                width: 100%;
                                overflow: hidden;
                                max-height: 11vh;
                            }
                        }

                        .user-nav {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            height: 6vh;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .nav-link {
                                background: rgba(14, 0, 20, 0.8);
                                color: rgba(255, 255, 255, 0.6);
                                height: 6vh;
                                width: 23vh;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }

                .user-post {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 0.8vh;
                    width: 136vh;

                    .post {
                        height: 42.8vh;
                        width: 42.8vh;
                        background: rgba(220, 220, 220, 0.8);
                        margin-bottom: 0.68vh;
                        margin-right: 0.68vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;

                        .user-post {
                            width: 100%;
                        }
                    }
                }
            }
        } 

        .right-user-content {
            height: 71.5vh;
            width: 50.2vh;

            .user-dashboard {
                width: 50.2vh;
                height: 28vh;
                background: rgba(20, 0, 20, 0.8);
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .info-dashboard {
                    position: absolute;
                    right: .8vh;
                    top: 0.5vh;
                    color: rgba(255, 255, 255, 0.9);
                    z-index: 2;
                }

                .viewer {
                    height: 15.7vh;
                    width: 49vh;
                    position: absolute;
                    top: .3vh;
                    background: rgba(20, 0, 20, 0.6);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .text-viewer {
                        position: absolute;
                        top: 0;
                        left: 0.5vh;
                        color: #dd4b39;
                        width: 19vh;
                        text-transform: uppercase;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
                    }

                    .total-viewer {
                            color: #fff;                          
                    }
                }

                .stalkpost {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 49vh;
                    position: absolute;
                    bottom: 0.5vh;

                    .stalker {
                        width: 24.2vh;
                        height: 11vh;
                        margin-top: 1vh;
                        background: rgba(20, 0, 20, 0.6);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .text-stalker {
                            position: absolute;
                            top: 0.5vh;
                            left: 0.5vh;
                            color: #dd4b39;
                            width: 19vh;
                            text-transform: uppercase;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.6);
                        } 

                        .total-stalker {
                            color: #fff;
                        }
                    }

                    .total-post {
                        width: 24.2vh;
                        height: 11vh;
                        margin-top: 1vh;
                        background: rgba(20, 0, 20, 0.6);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .text-post {
                            position: absolute;
                            top: .5vh;
                            right: 4.8vh;
                            color: #dd4b39;
                            width: 19vh;
                            text-transform: uppercase;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.6);
                        }

                        .post-total {
                            color: #fff;
                        }
                    } 
                } 
            }

            .school-information {
                margin-top: 1vh;

                .text-information {
                    color: #dd4b39;
                    border-bottom: 2px solid #333;
                    width: 30vh;
                    display: flex;
                    margin-bottom: 0.5vh;
                    text-transform: uppercase;
                }

                .list-information-school {
                    width: 50.2vh;
                    height: 12.38vh;
                    background: rgba(20, 0, 20, 0.8);
                    margin-bottom: 0.5vh;
                }
            }
        }
    }
}


// chat content
.main-content {

    .chat-left-content {
        position: fixed;
        left: 7vh;
        top: 6vh;
        bottom: 0;
        z-index: 1;
        background: rgba(220, 220, 220, 0.5);
        width: 51.5vh;
    }

    .chat-right-content {
        position: absolute;
        top: 0;
        left: 51.5vh;
        right: 0;
        min-height: 100vh;

        .navigation-chat {
            position: fixed;
            bottom: 0.8vh;
            right: 0.8vh;
            left: 59vh;
            height: 7vh;
            padding: 0.5vh;
            border-radius: 8vh;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .add-doc {
                border: none;
                background: rgba(20, 0, 20, 0.8);
                color: rgba(255, 255, 255, 0.8);
                height: 6vh;
                width: 6vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .chat-user {
                display: flex;
                align-items: center;
              
                .img {
                    display: none;
                }

                label {
                    background: rgba(20, 0, 20, 0.8);
                    color: rgba(255, 255, 255, 0.8);
                    height: 6vh;
                    width: 6vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .text-chat {
                    height: 6vh;
                    width: 124.2vh;
                    background: rgba(220, 220, 220, 0.6);
                    padding-left: 2vh;
                    border-radius: 6vh;
                }

                .send {
                    background: rgba(20, 0, 20, 0.8);
                    color: rgba(255, 255, 255, 0.8);
                    height: 6vh;
                    width: 6vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                }
            } 
        }
    }
} 
    
