// variabel
$layout-bg-1: rgba(20, 0, 20, 0.6);
$layout-bg-2: rgba(14, 0, 20, 0.6);
$layout-bg-3: rgba(20, 0, 20, 0.8);
$layout-bg-4: rgba(20, 0, 20, 0.9);
$layout-bg-5: rgba(14, 0, 20, 0.6);
$pmc-1: rgba(15, 0, 20, 0.6);
$pmc-2: rgba(15, 0, 20, 0.7);
$pmc-3: rgba(15, 0, 20, 0.8);
$pmc-4: rgba(15, 0, 20, 0.9);
$pmc-5: rgba(15, 0, 20, 1);
$skc-1: rgba(255, 255, 255, 0.6);
$skc-2: rgba(255, 255, 255, 0.7);
$skc-3: rgba(255, 255, 255, 0.8);
$skc-4: rgba(255, 255, 255, 0.9);
$skc-5: rgba(255, 255, 255, 1);
$gr-bg-1: linear-gradient(150deg,
          rgba(232, 23, 132, 0.9) 5%,
          rgba(104, 6, 171, 0.9) 53%,
          rgba(55, 0, 93, 0.9) 95%);
$gr-bg-2: linear-gradient(150deg,
          rgba(232, 23, 132, 0.8),
          rgba(104, 6, 171, 0.8));
$gr-bg-3: rgba(14, 0, 20, 0.6);
$gr-bg-4: rgba(14, 0, 20, 0.6);
$gr-bg-5: rgba(14, 0, 20, 0.6);


// mixin
@mixin distype
    (
        $display : flex,
        $align : center,
        $justify : center,
        $direction : row,
    ) {
    display: $display ;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin position 
    (
        $position : relative,
        $top : 0,
        $right : 0,
        $bottom : 0,
        $left : 0,
    ) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin dimention 
    (
        $height : auto,
        $width : auto
    ) {
    height: $height;
    width: $width;
}

@mixin wrap (
        $padding : 0 0 0 0,
        $margin : 0 0 0 0,
    ) {
    padding: $padding;
    margin: $margin;
}

// css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    @include wrap();
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0; 
    -ms-interpolation-mode: bicubic; 
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; 
    padding: 0;
    white-space: normal; 
    *margin-left: -7px; 
}

button,
input,
select,
textarea {
    font-size: 100%; 
    margin: 0; 
    vertical-align: baseline; 
    *vertical-align: middle; 
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
    *overflow: visible;  
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
    *height: 13px; 
    *width: 13px; 
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; 
    vertical-align: top; 
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.Thisform {
    border: none;
    outline: none;
    background: none;
}
  
.Thislink {
    text-decoration: none;
    color: #333;
    text-transform: capitalize;
}

.Thislink:hover {
    filter: brightness(80%);
    transition: 0.5s;
}


// navigation menu
.navigation-menu {
    @include distype(flex, center, space-between );
    @include position(fixed, 0, 0, none, 7vh);
    @include wrap (0 0.2vh 0.2vh 1vh);
    @include dimention (6vh);
    z-index: 6;
    background: $gr-bg-1;

    .side-left-navigation {
        @include distype ();

        .search-form {
            @include distype ();
            @include dimention (5vh, 50vh);
            @include wrap (0.5vh 0.5vh 0.5vh 1.5vh, 0 0.3vh 0 0);
            justify-content: space-between;
            background: $pmc-2;
            border-radius: 6vh;

            .search-input {
                @include dimention (5vh, 43vh);
                @include wrap (0 0 0.5vh 0);
                color: $skc-5;
            }

            .search-btn {
                @include distype();
                @include dimention (4.2vh, 4.2vh);
                border: none;
                background: $layout-bg-3;
                color: $skc-3;
            }
        }

        .access-button {
            @include distype ();
            @include dimention (5vh, 5vh);
            color: $skc-3;
            background: $pmc-1;
            font-size: 2vh;
            overflow: hidden;
            margin: 0 0.2vh;
        }
    }

    .side-right-navigation {
        @include distype();

        .post-menu {
            position: relative;

            .post-menu-left {
                @include position (absolute,  1.5vh, 0, 0, 2.1vh);
            }
            
            .post-menu-right {
                @include position (absolute, 1.5vh, 0, 0, .4vh);
            }
        }

        .add-post,
        .post-menu,
        .account {
            @include distype ();
            @include dimention (5vh, 5vh);
            color: $skc-3;
            background: $pmc-1;
            font-size: 2vh;
            overflow: hidden;
            margin: 0 0.2vh;
        }

        .account {

            .user-img {
                width: 100%;
            }
        }
    }
}


// aside slide
.aside-slide {
    @include distype(flex, center, none, column);
    @include position (fixed, 0, none, 0, 0); 
    width: 7vh;
    z-index: 8;
    padding: 1vh 0;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.4);
    background: $gr-bg-2;

    .aside-menu {
        @include distype (flex, center, none, column);
        @include wrap (0.5vh, 0.5vh);
        width: 6vh;
        border-bottom: 1.5px solid $skc-1;
    
        .aside-list-menu {
            @include distype ();
            @include dimention (5vh, 5vh);
            color: $skc-3;
            background: $pmc-1;
            font-size: 2.1vh;
            overflow: hidden;
            border-radius: 50%;
            margin: 0.5vh 0;
        }
    }

    .aside-menu:nth-last-child(1) {
        border: none;
    }
}


// main content
.main-content {
    @include position (absolute, 6vh, 0, none, 7vh);
    @include wrap (0.8vh 0.8vh 0 0.8vh);
    @include dimention ();
}

// page version
.web-version {
    @include distype ();
    @include position (fixed, 0, 0, 0, 0);
    background: #D4ECDD;

    .web-content {
        @include dimention (80vh, 160vh);
        position: relative;
        background: #FEFBF3;
        border: .2px solid #eee;
        overflow: auto;

        .nav-version {
            @include position(absolute, 0, 0, 0,0 );
            @include distype (flex, center, space-between);
            height: 6vh;
            background: #00A19D;
            padding: .5vh;

            .back-to-page {
                @include dimention (5vh, 5vh);
                @include distype ();
                color: $skc-3;
                transition: .5s;
            }

            .back-to-page:hover {
                background: $layout-bg-1;
            }

            .page-menu {
                display: flex;

                .list-page {
                    @include distype ();
                    @include dimention (6vh);
                    margin-left: 0.2vh;
                    padding: 0 .8vh;
                    color: $skc-3;
                    transition: .5s;
                }

                .list-page:hover {
                    background: $layout-bg-1;
                }
            }
        }

        .version-content {
            @include position (absolute, 6vh, 0, none, 0);
            height: auto;

            .logo-osis {
                @include dimention (20vh, 150vh);
                margin-top: 2vh;
                display: flex;
                justify-content: center;

                .osis-logo {
                    height: 100%;
                }
            }

            .information-page {
                @include dimention ();
                margin-top: 2vh;
                padding: 1vh;
            }
        }
    }
}


// login wrapper
.login-wrapper {
    @include position (fixed, 0, 0, 0, 0);

    .login {
        @include distype (flex, center, none, column);
        @include position (fixed, 0, none, 0, 0);
        width: 40vh;
        z-index: 3;
        background: $pmc-2;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);

        .osis-img {
            @include dimention (20vh, 20vh);
            margin: 2vh 0;

            .osis-image {
                width: 100%;
            }
        }

        .text-login,
        .text-login-with {
            border-bottom: 2px solid #fff;
            width: 35vh;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 1.5vh;
        }
          
        .form-login {
            @include distype (flex, center, none, column);
            width: 40vh;
            margin-bottom: 5vh;

            .name,
            .email,
            .code,
            .pass {
                @include distype(flex, center, center);
                @include wrap (0 1vh 0.4vh 1vh, 1vh 0 0 0);
                @include dimention (5vh, 36vh);
                background: $layout-bg-3;
                border-radius: 5vh;
                color: #fff;
            }

            .forget-login {
                @include distype (flex, center, none, space-between);
                width: 35vh;
                margin-top: 1vh;

                .login-btn {
                    @include dimention(5vh, 13vh);
                    background: #e02401;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    color: #fff;
                    border: none;
                    border-radius: 0.5vh;
                }

                .forget-link {
                    color: $skc-1;
                    letter-spacing: 0.8px;
                }
            }
        }

        .login-with {
            @include distype (flex, start, space-between);
            @include dimention (auto, 35vh);

            .login-with-icon {
                @include distype ();
                @include dimention (6vh, 6vh);
                color: #fff;
                font-size: 3vh;
                margin-bottom: 4vh;
            }

            .google {
                background: #dd4b39;
            }

            .facebook {
                background: #3b5998;
            }

            .instagram {
                background: #e95950;
            }

            .linkedin {
                background: #007bb5;
            }

            .github {
                background: #000;
            }
        }

        .register-link {
            color: #e02401;
            border-bottom: 2px solid #e02401;
            letter-spacing: 0.8px;
        }

        .bottom-information {
            @include position (absolute, none, 0, none, none);
            @include distype ();
            width: 40vh;
            padding: 1vh;

            .social-media-icon .sosmed-icon {
                color: #fff;
            }

            .hakcipta {
                letter-spacing: 1.5px;
                color: #fff;
            }

            .version {
                color: #fff;
            }
        }
    }

    .school-information {
        @include position (fixed, 0, 0, 0, 0);
        background: #eadeb8;
        display: flex;

        .logo {
            @include position (fixed, 1vh, none, none, 41vh);
            @include dimention (8vh, 8vh);
            display: flex;
            z-index: 2;

            .logo-img {
                width: 100%;
            }

            .text-logo {
                @include distype (flex, none, center, column);
                color: #fff;
                margin-left: 1vh;

                .name-img {
                    @include dimention (5vh, 120vh);
                    @include position (fixed, 1.5vh, none, none, 50vh);
                    font-weight: 600;
                    font-size: 3vh;
                }

                .name-school {
                    @include dimention (2vh, 50vh);
                    @include position (fixed, 6.8vh, none, none, 50vh);
                    font-weight: 200;
                    margin-top: -2vh;
                    font-size: 2.5vh;
                  }
            }
        }

        .slider-information-wrapper {
            @include position (fixed, 0, 0.8vh, 0, none);
            @include distype (flex, center, none);
            z-index: 2;

            .slider-image-information {
                @include dimention (40vh, 5.2vh);
                background: $pmc-2;
                padding: 5.5vh 0;
                border-radius: 7vh;
                position: relative;

                .slide-top-btn {
                    @include position (absolute, 0.6vh, 0.6vh, none, none);
                    @include dimention (4vh, 4vh);
                    @include distype (flex, center, center);
                    border: none;
                    background: rgba(0, 0, 0, 0.6);
                    color: $skc-1;
                    z-index: 2;
                }

                .slide-down-btn {
                    @include position(absolute, none, 0.6vh, 0.6vh, none);
                    @include dimention (4vh, 4vh);
                    @include distype ();
                    border: none;
                    background: rgba(0, 0, 0, 0.6);
                    color: $skc-1;
                    z-index: 2;
                }

                .slider-btn-manual {
                    @include distype (flex, center, center, column);

                    .check-sekom {
                        display: none;
                    }

                    .sekom {
                        @include dimention (1.3vh, 1.3vh);
                        border: 1px solid $skc-1;
                        display: flex;
                        margin-bottom: 1.2vh;
                        border-radius: 50%;
                    }
                }
            }
        }

        .information {

            .bg-image {

                .bg-soe {
                    @include position (absolute, 0, 0, 0, 0);
                    width: 100%;
                    z-index: 1;
                }
            }
        }

        .text-information {
            @include position (fixed, none, none, 0.8vh, 40.8vh);
            @include distype (flex, none, none, column);
            z-index: 3;
            color: $skc-3;
            width: 70vh;
            filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));

            .title-information {
                font-size: 5vh;
                text-transform: capitalize;
            }

            .main-information-excul {
                font-size: 2vh;
            }
        }
    }
}


// register wrapper 
.register-wrapper {
    @include position (fixed, 0, 0, 0, 0);

    .register-list {
        @include position (fixed, 0, none, 0, 0);
        @include distype (flex, center, start, column);
        z-index: 3;
        width: 40vh;
        padding-top: 5vh;
        background: $pmc-2;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);

        .osis-img {
            @include dimention (20vh, 20vh);

            .osis-image {
                width: 100%;
            }
        }

        .text-register,
        .text-register-with {
            border-bottom: 2px solid #fff;
            width: 35vh;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 1.5vh;
        }

        .list-create-account {
            display: flex;
            flex-direction: column;

            .register-list-form-1 {
                @include dimention (6vh, 40vh);
                @include distype (flex, center, start);
                color: $skc-5;
                border-left: 3px solid #96C7C1;
                padding-left: 2.5vh;
            }

            .register-list-form {
                @include dimention (6vh, 40vh);
                @include distype (flex, center, start);
                color: $skc-1;
                padding-left: 2.5vh;
            }
        }

        .register-btn {
            color: #dd4b39;
            margin: 2vh 0;
        }

        .register-with {
            @include dimention (auto, 35vh);
            @include distype (flex, start, space-between);

            .register-with-icon {
                @include dimention (6vh, 6vh);
                @include distype ();
                color: #fff;
                font-size: 3vh;
                margin-bottom: 4vh;
            }

            .google {
                background: #dd4b39;
            }             
            
            .facebook {
                background: #3b5998;
            }

            .instagram {
                background: #e95950;
            }

            .linkedin {
                background: #007bb5;
            }

            .github {
                background: #000;
            }
        }

        .bottom-information {
            @include position (absolute, none, none, 0, none);
            @include distype (flex, center, center, column);
            width: 40vh;
            padding: 1vh;

            .social-media-icon {

                .sosmed-icon {
                    color: #fff;
                }
            }

            .hakcipta {
                letter-spacing: 1.5px;
                color: #fff;
            }

            .version {
            color: #fff;
            } 
        }
    }

    .register-form {
        @include position (fixed, 0, 0, 0, 0);
        background: #FFF3E4;
        display: flex;

        .information {

            .bg-image {

                .bg-soe {
                    @include position (absolute 0, 0, 0, 0);
                    width: 100%;
                    z-index: 1;
                }
            }
        }

        .form-register-bio {
            @include position (absolute, 0, 0, 0, none);
            z-index: 2;
            width: 152vh;
            padding: 5vh;

            .form-register-ubio {
                display: flex;
                flex-direction: column;
                padding: 1.5vh;
                height: 90vh;
                background: $layout-bg-1;

                .left-bio,
                .right-bio {
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    color: $skc-1;
                    margin-bottom: 1vh;

                    .text-data {
                        border-bottom: 2px solid #fff;
                        width: 50vh;
                        display: flex;
                        color: #fff;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        margin-bottom: 2vh;
                    }

                    .form-bio {
                        background: $pmc-1;
                        color: $skc-3;
                        height: 6vh;
                        border-radius: 6vh;
                        margin-bottom: .5vh;
                        padding-left: 2vh;
                    }
                }

                .left-bio {

                    .lesson-wrapper {
                        @include dimention (20vh, 139vh);
                        border-radius: 5px;
                        padding: 0.8vh;
                        background: $pmc-1;

                        .lesson-tag-input {
                            width: 137.5vh;
                        }
                    }
                }

                .right-bio {

                    .next-btn {
                        @include dimention (6vh, 18vh);
                        background: #e02401;
                        border: none;
                        outline: none;
                        text-transform: capitalize;
                        letter-spacing: 2px;
                        color: #fff;
                        border-radius: 0.8vh;
                    }

                    .btn-reg {
                        @include distype (flex, center, space-between);
                        @include position (absolute, none, none, 5vh, none);
                        @include dimention(10vh, 28vh);
                        margin-top: 3vh;

                        .next-page {
                            color: #FF5151;
                            font-weight: 600;
                            letter-spacing: 1px;
                        }
                    }

                    .document-preview {
                        @include dimention(27vh, 139vh);
                        position: relative;

                        .document-view {
                            @include dimention (27vh, 50vh);
                            background: $skc-1;
                            border-radius: 1vh;
                        }

                        .document {
                            display: none;
                        }

                        .document1 {
                            @include position (absolute, 0, 0, 0, none);
                            @include distype (flex, center, center, column);
                            border: .5px dotted #fff;
                            background: rgba(14, 0, 20, 0.6);
                            width: 88vh;
                            border-radius: 2px;

                            .upload-text {
                                @include dimention (8vh, 20vh);
                                @include distype ();
                                background: #e02401;
                                border-radius: 5px;
                                margin-bottom: -0.2vh;
                                margin-top: 1vh;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                            }

                            .dd-text {
                                font-weight: 200;
                                text-transform: capitalize;
                            }
                        }
                    }

                    .wishlist {
                        background: rgba(14, 0, 20, 0.6);
                        padding: 0.8vh;
                        border-radius: 5px;
                        resize: none;
                        color: rgba(255, 255, 255, 0.9);
                        border: none;
                        outline: none;
                        height: 20vh;
                        margin-bottom: .5vh;
                    }

                    .plan-wrapper {
                        height: 20vh;
                        width: 139vh;
                        border-radius: 5px;
                        padding: 0.8vh;
                        background: $pmc-1;

                        .plan {
                            width: 137.5vh;
                        }
                    }

                    .right-security-bio {
                        @include dimention(47vh, 139vh);
                        @include distype(flex, center, space-between);

                        .face-scan {
                            @include dimention(47vh, 47vh);
                            background: $pmc-1;
                        }
                          
                        .key-words {
                            display: flex;
                            flex-direction: column;
                            width: 90vh;
                        }
                    }
                }

                .sk-bio {
                    @include dimention(75vh, 139vh);
                    background: $pmc-1;
                    color: $skc-1;
                    overflow: auto;
                    padding: 0.8vh;
                    border-radius: 5px;
                    margin-bottom: 0.8vh;
                }

                .agree-sk {

                    a {
                        color: #00A19D;
                    }
                }
            }
        }
    }
}


// home 
.main-content {

    .left-content {
        @include dimention (auto, 131.5vh);

        .status-friends {
            @include dimention (8vh, 31vh);
            @include position ();
            @include distype ();
            overflow: hidden;
            padding: 0.5vh;
            
            .s-friend-left {
                @include position (absolute, 0, none, 0, 0);
                @include dimention (8vh, 8vh);
                @include distype ();
                z-index: 1;
                color: #ff8243;
                background: #fff;
            }
            
            .s-friend-right {
                @include position (absolute, 0, 0, 0, none);
                @include dimention (8vh, 8vh);
                @include distype();
                z-index: 1;
                color: #ff8243;
                background: #fff;
            }
            
            .status-friend-content {
                @include dimention (8vh);
                @include position (absolute, 0, none, 0, 0);
                @include distype(flex, center, none,);
                
                .status-wrapper {
                    @include dimention (8vh, 8vh);
                    @include distype ();
                    margin-right: .85vh;
                    background: $gr-bg-1;
                    
                    .friend-img {
                        @include dimention (7.2vh, 7.2vh);
                        background: $skc-3;
                        overflow: hidden;
                        
                        .user-status-img {
                            width: 100%;
                        }
                    }
                }
            }
        }
                
        .main-information-content {
            @include dimention (70vh, 131vh);
            @include distype();
            margin-top: .8vh;
            overflow: hidden;
            filter: brightness(60%);
            background: rgba(220, 220, 220, 0.6);

            .school-content-information {
                width: 100%;
            }
        }

        .skill-test {
            @include dimention (16vh, 131vh);
            background: $layout-bg-4;
            color: $skc-3;
            position: relative;
            margin-top: 0.5vh;

            .head-nav {
                @include position (absolute, 0, 0, none, 0);
                @include distype (flex, center, space-between);
                border-bottom: 2px solid #ff8243;
                margin: 0 .8vh;
                height: 6vh;

                .view-menu {
                    @include distype (flex, center, none);

                    .view-1, 
                    .view-2, 
                    .view-3 {
                        @include dimention (4vh, 4vh);
                        @include distype ();
                        overflow: hidden;
                        margin-left: 0.5vh;

                        a {
                            color: $skc-3;
                        }
                    }

                    .view-2 {
                        flex-direction: column;
                        position: relative;

                        .linkmenu1 {
                            @include position (absolute, .5vh, none, none, none);
                        }

                        .linkmenu2 {
                            @include position (absolute, none, none, .7vh, none);
                        }
                    }

                    .view-3 { 
                        flex-direction: column;
                        position: relative;

                        .linkmenu1 {
                            @include position (absolute, -.8vh, none, none, none);
                        }

                        .linkmenu2 {
                            @include position (absolute, .5vh, none, -.7vh, none);
                        }
                    }
                }
            }

            .skill-test-content {
                @include dimention(9vh, 131vh);
                @include position (absolute, none, none, .5vh, none);
                @include distype (flex, center, space-evenly);
                padding: 0 0.5vh;

                .skill-content {
                    @include dimention(8vh, 8vh);
                    background: $layout-bg-3;
                }
            }
        }

        .books {
            @include dimention(38vh, 131vh);
            background: $layout-bg-4;
            margin-top: .5vh;
            position: relative;
            color: $skc-3;

            .head-nav {
                @include position (absolute, 0, 0, none, 0);
                @include distype (flex, center, space-between);
                border-bottom: 2px solid #ff8243;
                margin: 0 .8vh;
                height: 6vh;

                .view-menu {
                    @include distype (flex, center, none);

                    .view-1, 
                    .view-2, 
                    .view-3 {
                        @include dimention (4vh, 4vh);
                        @include distype();
                        overflow: hidden;
                        margin-left: 0.5vh;

                        a {
                            color: $skc-3;
                        }
                    }

                    .view-2 {
                        flex-direction: column;
                        position: relative;

                        .linkmenu1 {
                            @include position(absolute, .5vh, none, none, none);
                        }

                        .linkmenu2 {
                            @include position(absolute, none, none, .7vh, none);
                        }
                    }

                    .view-3 { 
                        flex-direction: column;
                        position: relative;

                        .linkmenu1 {
                            @include position(absolute, -.7vh, none, none, none);
                        }

                        .linkmenu2 {
                            @include position(absolute, .5vh, none, -.7vh, none);
                        }
                    }
                }
            }
        }

        .post-friend {
            @include dimention (65vh, 131vh);
            @include distype(flex, none, space-between,);
            margin-top: 0.5vh;
            background: $skc-4;

            .post-friend-image {
                @include dimention (65vh, 65vh);
                @include distype();
                background: rgba(200, 200, 200, .8);
                overflow: hidden;

                .post-fimg {
                    width: 100%;
                }
            }

            .post-friend-information {
                @include dimention (65vh, 66vh);
                @include distype(flex, none, none, column);
                position: relative;
                padding: 0.5vh;

                .user-info {
                    @include dimention (10vh, 65vh);
                    @include distype(flex, center, none);
                    margin-bottom: 0.5vh;
                    position: relative;

                    .user-info-img {
                        @include dimention(9vh, 9vh);
                        margin-right: 1vh;
                        overflow: hidden;

                        .user-post-info-img {
                            width: 100%;
                        }
                    }

                    .user-info-title {
                        display: flex;
                        flex-direction: column;
                    }

                    .post-menu {
                        @include position (absolute, 0, 0, none, none);
                    }
                }

                .user-desc {
                    @include dimention(35vh, 65vh);
                    @include wrap (0.5vh 0.5vh 0.5vh 0.5vh, 0 0 0.5vh 0);
                    background: rgba(220, 220, 220, 0.4);
                    position: relative;

                    .more-desc {
                        @include position(absolute, none, none, 0.5vh, 0.5vh);
                    }
                }

                .comment {
                    @include dimention (18vh, 65vh);
                    border: 1px solid #ff0000;
                }
            }
        }
    }

    .right-content {
        @include position(fixed, 6vh, 0, 0, none);
        width: 50.5vh;
        padding: 0.5vh;

        .clock-wrapper {
            background: $layout-bg-3;
            color: #ff8243;
            padding: 0.5vh;
            position: relative;

            .clock-content {
                @include distype(flex, none, space-between);

                .clock {
                    @include distype(flex, center, center, column);
                    @include dimention (10vh, 35vh);
                    background: rgba(20, 0, 20, 0.5);
                    padding-top: 1vh;
                    font-size: 4vh;
                    letter-spacing: 2px;

                    .date {
                        font-size: 2vh;
                        margin-top: -1vh;
                    }
                }

                .weather-wrapper {
                    @include dimention(14.5vh, 12.4vh);
                    @include distype(flex, center, none, column);
                    background: rgba(20, 0, 20, 0.5);
                    position: relative;

                    .weather {
                        @include position(absolute, 1vh, none, none, none);
                        font-size: 5vh;
                    }

                    .temperature {
                        @include position(absolute, 0, none, 0.8vh, none);
                    }
                }
            }

            .clock-we {
                @include position (absolute, none, none, .5vh, .5vh);
                @include dimention (4vh, 4vh);
                @include distype();
                color: $skc-3;
                transition: 0.5s;
                background: rgba(20, 0, 20, 0.5);
            }

            .clock-we:hover {
                transform: rotate(90deg);
            }

            .location-we {
                @include dimention (4vh, 30.5vh);
                @include distype ();
                @include position (absolute, none, none, .5vh, 5vh);
                color: $skc-3;
                border-radius: 5vh;
                padding: 0 1vh 0 0.5vh;
                background: $layout-bg-1;
            }
        }
    }
} 


// main post content
.main-content {

    .top-content {
        @include distype (flex, center, space-between);
        margin-bottom: 0.5vh;

        .landscape-content {
            @include distype ();
            @include dimention (70vh, 120vh);
            background: rgba(220, 220, 220, 0.5);
            overflow: hidden;

            .post-image {
                @include dimention (100%, 100%);
            }
        }

        .article-content {
            @include dimention(70vh, 60vh);
            background: rgba(220, 220, 220, 0.5);
        }
    }

    .down-content {
        @include dimention (auto, 180.8vh);
        @include distype(flex, center, space-between);

        .potrait-wrapper {
            @include dimention (auto, 90.1vh);
            @include distype(flex, center, space-between);
            margin-bottom: 0.3vh;

            .left-wrapper-content {

                .left-potrait {
                    @include dimention (70vh, 44.7vh);
                    @include distype ();
                    background: rgba(220, 220, 220, 0.5);
                    overflow: hidden;

                    .post-image {
                        height: 100%;
                    }
                }

                .mini-content-1 {
                    @include dimention (44.7vh, 44.7vh);
                    @include distype ();
                    background: rgba(220, 220, 220, 0.5);
                    border-top: 5px solid #fff;
                    overflow: hidden;

                    .post-image {
                        width: 100%;
                    }
                }
            }

            .right-wrapper-content {

                .right-potrait {
                    @include dimention (70vh, 44.7vh);
                    @include distype ();
                    background: rgba(220, 220, 220, 0.5);
                    overflow: hidden;

                    .post-image {
                        height: 100%;
                    }
                }

                .mini-content-2 {
                    @include dimention (70vh, 44.7vh);
                    @include distype ();
                    background: rgba(220, 220, 220, 0.5);
                    border-bottom: 5px solid #fff;
                    overflow: hidden;

                    .post-image {
                        width: 100%;
                    }
                }
            }
        }
    }
}

// user main content
.main-content {

    .user-bg {
        @include position(absolute, 0, 0, none, 0);
        background: rgba(220, 220, 220, 0.5);
        height: 50vh;
        box-shadow: inset 0 0 6px 1px #ddd;

        .code-id {
            @include position (absolute, 44.2vh, none, none, 37vh);
            @include wrap ();
            z-index: 1;
            background: $pmc-1;
            color: rgba(220, 220, 220, 0.8);
            padding: 5px;
        }

        .social-media {
            @include dimention ();
            @include position (absolute, 44.2vh, .6vh, none, none);
            z-index: 1;
            background: $pmc-1;
            color: rgba(220, 220, 220, 0.8);
            padding: 5px;
        }

        .user-bg-image {
            @include distype ();
            height: 50vh;
            overflow: hidden;
            filter: brightness(60%);

            .bg-image {
                width: 100%;
            }
        }
    }

    .user-content-wrapper {
        @include distype (flex, none, space-between);
        margin-top: 50vh;

        .left-user-content {

            .dashboard-user-wrapper {
                @include dimention(auto, 130vh);

                .user-profile {
                    @include dimention(28vh, 130vh);
                    @include distype(flex, center, space-between);
                    position: relative;

                    .user-image {
                        @include dimention (35vh, 35vh);
                        @include distype ();
                        @include position (absolute, -8vh, none, none, none);
                        background: rgba(220, 220, 220, 0.8);
                        overflow: hidden;

                        .user-img {
                            width: 100%;
                        }
                    }

                    .change-img {

                        .input-img {
                            display: none;
                        }

                        label {
                            @include distype ();
                            @include position (absolute, 23vh, none, none, 29vh);
                            @include dimention (4vh, 4vh);
                            background: $layout-bg-3;
                            color: rgba(220, 220, 220, 0.8);
                        }
                    }

                    
                    .user-dashboard {
                        @include dimention(28vh, 94vh);
                        position: relative;

                        .u-set {
                            @include position(absolute, .5vh, .6vh, none, none);
                        }

                        .user-dashboard-information {
                            display: flex;
                            flex-direction: column;

                            .u-name {
                                text-decoration: none;
                                color: rgba(232, 23, 132, 0.8);
                            }

                            .bio-detail {
                                color: rgba(232, 23, 132, 0.8);
                                text-decoration: none;
                            }

                            .u-bio {
                                display: flex;
                                font-weight: 200;
                                width: 100%;
                                overflow: hidden;
                                max-height: 11vh;
                            }
                        }

                        .user-nav {
                            @include position(absolute, none, 0, 0, 0);
                            @include distype(flex, center, space-between);
                            height: 6vh;

                            .nav-link {
                                @include distype ();
                                @include dimention (6vh, 23vh);
                                background: $pmc-3;
                                color: rgba(255, 255, 255, 0.6);
                            }
                        }
                    }
                }

                .user-post {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 0.8vh;
                    width: 136vh;

                    .post {
                        @include dimention(42.8vh, 42.8vh);
                        @include distype ();
                        background: rgba(220, 220, 220, 0.8);
                        margin-bottom: 0.68vh;
                        margin-right: 0.68vh;
                        overflow: hidden;

                        .user-post {
                            width: 100%;
                        }
                    }
                }
            }
        } 

        .right-user-content {
            @include dimention (71.5vh, 50.2vh);

            .user-dashboard {
                @include dimention(28vh, 50.2vh);
                @include distype(flex, center, center, column);
                background: rgba(20, 0, 20, 0.8);
                position: relative;

                .info-dashboard {
                    @include position (absolute, .5vh, .8vh, none, none);
                    color: $skc-4;
                    z-index: 2;
                }

                .viewer {
                    @include dimention(15.7vh, 49vh);
                    @include distype ();
                    @include position(absolute, .3vh, none, none, none);
                    background: $layout-bg-1;

                    .text-viewer {
                        @include position(absolute, 0, none, none, .5vh);
                        color: #dd4b39;
                        width: 19vh;
                        text-transform: uppercase;
                        border-bottom: 1px solid $skc-1;
                    }

                    .total-viewer {
                            color: #fff;                          
                    }
                }

                .stalkpost {
                    @include distype(flex, center, space-between);
                    width: 49vh;
                    position: absolute;
                    bottom: 0.5vh;

                    .stalker {
                        @include dimention(11vh, 24.1vh);
                        @include distype();
                        margin-top: 1vh;
                        background: rgba(20, 0, 20, 0.6);

                        .text-stalker {
                            @include position(absolute, .5vh, none, none, .5vh);
                            color: #dd4b39;
                            width: 19vh;
                            text-transform: uppercase;
                            border-bottom: 1px solid $skc-1;
                        } 

                        .total-stalker {
                            color: #fff;
                        }
                    }

                    .total-post {
                        @include dimention(11vh, 24.2vh);
                        @include distype();
                        margin-top: 1vh;
                        background: $layout-bg-1;

                        .text-post {
                            @include position(absolute, .5vh, 4.8vh, none, none);
                            color: #dd4b39;
                            width: 19vh;
                            text-transform: uppercase;
                            border-bottom: 1px solid $skc-1;
                        }

                        .post-total {
                            color: #fff;
                        }
                    } 
                } 
            }

            .school-information {
                margin-top: 1vh;

                .text-information {
                    color: #dd4b39;
                    border-bottom: 2px solid #333;
                    width: 30vh;
                    display: flex;
                    margin-bottom: 0.5vh;
                    text-transform: uppercase;
                }

                .list-information-school {
                    @include dimention (12.38vh, 50.2vh);
                    background: rgba(20, 0, 20, 0.8);
                    margin-bottom: 0.5vh;
                }
            }
        }
    }
}


// chat content
.main-content {

    .chat-left-content {
        @include position (fixed, 6vh, none, 0, 7vh);
        z-index: 1;
        background: rgba(220, 220, 220, 0.5);
        width: 51.5vh;
    }

    .chat-right-content {
        @include position (absolute 0, 0, none, 51.5vh);
        min-height: 100vh;

        .navigation-chat {
            @include position(fixed, none, .8vh, .8vh, 59vh);
            @include distype(flex, center, space-between);
            height: 7vh;
            padding: 0.5vh;
            border-radius: 8vh;

            .add-doc {
                @include dimention(6vh, 6vh);
                @include distype ();
                border: none;
                background: $layout-bg-3;
                color: $skc-3;
            }

            .chat-user {
                @include distype(flex, center, none);
              
                .img {
                    display: none;
                }

                label {
                    @include dimention(6vh, 6vh);
                    @include distype();
                    background: $layout-bg-1;
                    color: $skc-3;
                }

                .text-chat {
                    @include dimention(6vh, 124.2vh);
                    background: rgba(220, 220, 220, 0.6);
                    padding-left: 2vh;
                    border-radius: 6vh;
                }

                .send {
                    @include dimention (6vh, 6vh);
                    @include distype();
                    background: $layout-bg-3;
                    color: $skc-3;
                    border: none;
                }
            } 
        }
    }
} 
    
